$themePrimaryBlue: #4277FF;
$themeGreenLight: #36D98B;
$white: #ffffff;
$black: #2E3542;
$purple: #8F68FF;
$yellow: #FCC63C;
$gray: #C7CCE8;
$themeRed: #FD5A5A;
$textColor: #5C6574;
$textColor_2: #495264;


// Comparision Table Checkbox color
$ldarkbg: #3F4654;
$lgraybg: #C7CCE8;